{% include '@octo/layouts/header.html.twig' %}

<!-- <section class="intro" id="section1" data-speed="5" data-type="background" style="background-position: 50% 0px;">
	<div class="overlay">
		<div class="headline">
			<div class="region region-headline">
				<div class="flexslider">
					<ul class="slides">
						<li class="" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0.97941; display: block; z-index: 1;">
							<h2>Creative control</h2>
							<p>Digital agencies have more flexibility in design.</p>
						</li>
						<li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0.0205901; display: block; z-index: 2;">
							<h2>Custom Block Layouts</h2>
							<p>Endless possibilities to re-use blocks.</p>
						</li>
						<li class="" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">
							<h2>Twig Templates</h2>
							<p>Bringing designers and developers closer together</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<a href="#" id="goto-section2" class="arrow-down">Get started</a>
</section> -->
{{ page.content }}
{% include '@octo/layouts/footer.html.twig' %}